@import "./colours";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}

h1 {
  color: $color-red;
  font-size: 1.5rem;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    background-color: hsl(46, 100%, 50%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
